#content
  #home.panel_header
    .row
      .span9
        %h1#hi
          We make remarkably useful<br/> web-based software.
      .span1.arrows
        %ul.unstyled
          %li.next.team
            %img{ src: '/images/down.jpg', alt: 'next' }
        
  .panel
    %p.lead#love
      We're passionate about making peoples' lives better by building elegant solutions to 
      their problems.
    
    %hr/
  
    %p.lead#experts
      We're experts in designing and developing web applications and websites. We make things people
      actually enjoy using by focusing on simplicity and usability.
      
    %hr/
    
    %h6 The RareStep Approach
    
    .row
      .span5
        %h4#design User Experience &amp; Interface Design
        %p
          Websites &amp; software shouldn't be hard to use. Problem is, it's not that easy to take a 
          complex problem and boil it down to a simple solution.
        %p
          We design simple, intuitive user experiences that are both functional and beautiful. We 
          never settle for less. That's what makes us unique.
      .span5
        %h4#develop Website &amp; Application Development
        %p
          We architect, design and implement elaborate websites and scalable web applications in less 
          time with fewer resources. We get things done.
        %p
          We favor user feedback over heavy process, and emphasize continuous software releases 
          through small iterations.
  
  
  #work.panel_header
    .row
      .span9
        %h1
          Our Work
      .span1.arrows
        %ul.unstyled
          %li.previous.home
            %img{ src: '/images/up.jpg', alt: 'up' }
          %li.next.products
            %img{ src: '/images/down.jpg', alt: 'next' }
        
  .panel
    .row
      .span7
        %p
          %a{ href: 'http://www.fleetio.com', title: 'Fleetio - Fleet Maintenance Software' }
            %img{ src: '/images/fleetio_logo.png', width: '218', height: '56', alt: 'Fleetio Logo' }
        %p
          %a{ href: 'http://www.fleetio.com', title: 'Fleetio - Fleet Maintenance Software' }
            Fleetio
          is a fleet management software system that makes it easy to manage vehicles.
        %p
          Any business or organization with a fleet can use Fleetio to keep track of preventative 
          maintenance &amp; service, manage fuel expenses and keep all vehicle details in one place.
        %p
          Fleetio is a RareStep product that we conceived, built and launched.
      .span3
        %ul.media-grid
          %li
            %a{ href: '/images/fleetio_1_full.png', :rel => 'colorbox' }
              %img{ class: 'thumbnail', src: '/images/fleetio_1_thumb.png', width: '160', height: '105' }
          %li
            %a{ href: '/images/fleetio_2_full.png', :rel => 'colorbox' }
              %img{ class: 'thumbnail', src: '/images/fleetio_2_thumb.png', width: '160', height: '104' }
      
    -#
      %hr/
    
      %p
        STARTUP SUMMIT
    
  #contact.panel_header
    .row
      .span9
        %h1
          Contact Us
      .span1.arrows
        %ul.unstyled
          %li.previous.home
            %img{ src: '/images/up.jpg', alt: 'up' }
        
  .panel
    %p= lorem.paragraph