#content
  #home.panel_header
    %h2 Something good here.
    %ul.unstyled
      %li.next.team
        %img{ src: '/images/down.jpg', alt: 'next' }
        
  .panel
    %p= lorem.paragraph
    
  
  #products.panel_header
    %h2 Our wonderful products.
    %ul.unstyled
      %li.previous.home
        %img{ src: '/images/up.jpg', alt: 'up' }
      %li.next.products
        %img{ src: '/images/down.jpg', alt: 'next' }
        
  .panel
    %p= lorem.paragraph