title: We make remarkably useful web-based software | Based in Birmingham, Alabama
meta_description: RareStep makes remarkably useful web-based software. We're experts in designing and developing web applications and websites. Based in Birmingham, AL.
META------------------------------------------------------------------------------------------------

#content
  %section#home
    .panel_header
      .row
        .span9
          %h1
            We make remarkably useful<br/> web-based software.
        .span1
          %ul.arrows
            %li
              %a{ href: '#work' }
                %img{ src: '/images/down.jpg', alt: 'next' }
        
    .panel
      %p.lead#love
        We're passionate about making peoples' lives better by building elegant solutions to 
        their problems.
    
      %hr/
  
      %p.lead#experts
        We're experts in designing and developing web applications and websites. We make things people
        actually enjoy using by focusing on simplicity and usability.
      
      %hr/
    
      %h6 The RareStep Approach
    
      .row
        .span5
          %h4#design User Experience &amp; Interface Design
          %p
            Websites &amp; software shouldn't be hard to use. Problem is, it's not that easy to take a 
            complex problem and boil it down to a simple solution.
          %p
            We design simple, intuitive user experiences that are both functional and beautiful. We 
            never settle for less. That's what makes us unique.
        .span5
          %h4#develop Website &amp; Application Development
          %p
            We architect, design and implement elaborate websites and scalable web applications in less 
            time with fewer resources. We get things done.
          %p
            We favor user feedback over heavy process, and emphasize continuous software releases 
            through small iterations.
  
  %section#work  
    .panel_header
      .row
        .span9
          %h1
            Our Work
        .span1
          %ul.arrows
            %li
              %a{ href: '#home' }
                %img{ src: '/images/up.jpg', alt: 'prev' }
            %li
              %a{ href: '#contact' }
                %img{ src: '/images/down.jpg', alt: 'next' }
                
    .panel
      .row
        .span7
          %p
            %a{ href: 'http://www.fleetio.com', title: 'Fleetio - Fleet Maintenance Software' }
              %img{ src: '/images/fleetio_logo.png', width: '218', height: '56', alt: 'Fleetio Logo' }
          %p
            %a{ href: 'http://www.fleetio.com', title: 'Fleetio - Fleet Maintenance Software' }
              Fleetio
            is a fleet management software system that makes it easy to manage vehicles.
          %p
            Any person, business or organization with vehicles can use Fleetio to keep track of preventative 
            maintenance &amp; service, manage fuel expenses and keep all vehicle details in one place.
          %p
            Fleetio is a RareStep product that we conceived, built and launched.
        .span3
          %ul.media-grid
            %li
              %a{ href: '/images/fleetio_1_full.png', :rel => 'colorbox' }
                %img{ class: 'thumbnail', src: '/images/fleetio_1_thumb.png', width: '160', height: '105' }
            %li
              %a{ href: '/images/fleetio_2_full.png', :rel => 'colorbox' }
                %img{ class: 'thumbnail', src: '/images/fleetio_2_thumb.png', width: '160', height: '104' }
      
      -#
        %hr/
    
        %p
          STARTUP SUMMIT
  
  %section#contact  
    .panel_header
      .row
        .span9
          %h1#hi
            Contact Us
        .span1
          %ul.arrows
            %li
              %a{ href: '#work' }
                %img{ src: '/images/up.jpg', alt: 'prev' }
        
    .panel
      .row
        .span6
          %h6 RareStep
        
          %ul.unstyled
            %li
              Phone:
              %strong
                1-800-975-5304
            %li
              Email:
              %a{ href: 'mailto:hello@rarestep.com', title: 'Email us' }
                hello@rarestep.com
            %li
              Twitter:
              %a{ href: 'http://twitter.com/rarestep', title: 'Follow RareStep on Twitter' }
                @rarestep
              
          %h6 Fleetio
        
          %ul.unstyled
            %li
              Support Email:
              %a{ href: 'mailto:help@fleetio.com', title: 'Contact Fleetio Support' }
                help@fleetio.com
            %li
              Twitter:
              %a{ href: 'http://twitter.com/fleetio', title: 'Follow Fleetio on Twitter' }
                @fleetio
      
        .span4
          %address
            %strong
              RareStep, LLC
            %br/
            414 Edgewood Blvd.
            %br/
            Birmingham, AL 35209