@import "bootstrap/bootstrap.scss";

body {
	background: url(/images/background.jpg) center repeat-y;
	font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Cabin", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h6 {
  font-size: 14px;
  color: $grayLight;
  text-transform: uppercase;
}

p {
  margin-bottom: $baseline;
}

hr {
  // border-bottom: 1px dotted #808080;
  border-bottom: 1px solid #D4D4D4;
  @include box-shadow(0 1px 0 rgba(255,255,255,.3));
}

#container {
	margin: 0 auto;
	width: 960px;
}

// === Sidebar ===
#sidebar {
	margin-top: 65px;
	float: left;
	overflow: hidden;
	width: 272px;
	
	#top {
  	position: fixed;
  }
  
  // === Logo ===
	img {
		padding: 5px 10px;
	}
	
	// === Menu ===
	ul.menu {
		margin-top: 85px;
		
		li {
		  a {
		    color: #3e3e3e;
		    display: block;
    		text-decoration: none;
    		text-transform: uppercase;
    		font-size: 13px;
    		font-weight: bold;
    		padding: 9px 10px 9px 30px;
    		margin-bottom: 1px;
    		width: 225px;
		  }
		  
		  &.active {
		    a {
		      background-color: #3e3e3e;
		      @include border-radius(2px);
		      color: #f0f0f0;
		    }
		  }
  	}
	}
	
}

// === Content ===
#content {
	float: left;
	width: 688px;
}

// === Panel Header ===
.panel_header {
	background: #f0f0f0;
	border-top: 1px solid #d5d5d5;
	border-bottom: 1px solid #d5d5d5;
	border-right: 1px solid #d5d5d5;
	padding: 60px 0 0 40px;
	
	h1 {
	  font-size: 40px;
	  line-height: 43px;
	}
  
  .arrows {
  	text-align: right;
  	
  	ul {
  	  margin-top: 10px;
  	}
  	
  	li {
  	  line-height: 1;
  	  
  	  img {
    	  padding: 0px 5px 3px 5px;
  	  }
    }
  }
}

// === Panel Header ===
.panel {
  @include fixed-container();
  padding: 60px 10px 500px 30px;
}

// === Footer ===
footer {
	position: fixed;
	bottom: 10px;
	
	p {
	  color: #A6A5A5;
  	font-size: $basefont - 3;
	}
}

// === Page Specifics ===
.lead {
  font-size: 23px;
  line-height: 28px;
}

#hi {
  background: transparent url("/images/hi.png") 96% 0 no-repeat;
  padding-top: 15px;
}

#love {
  background: transparent url("/images/love.png") 0 0 no-repeat;
  padding-left: 53px;
}

#experts {
  background: transparent url("/images/experts.png") 0 0 no-repeat;
  padding-left: 53px;
}

#design {
  background: transparent url("/images/design.png") 0 1px no-repeat;
  padding-left: 37px;
}

#develop {
  background: transparent url("/images/browser.png") 0 4px no-repeat;
  padding-left: 37px;
}